<template>
  <div class="animated fadeIn">
    <div class="row">
      <div class="col-md-12">

        <div class="card">
          <div class="card-header">
            <i class="fa fa-align-justify"></i> Discounts
          </div>
          <div class="card-block">
            <table class="table">
              <thead>
                <tr>
                  <th>Title</th>
                  <th>Addet Date</th>
                  <th>Status</th>
                  <th>Actions</th>
                </tr>
              </thead>
              <tbody>
                <tr v-for="item in items" :key="item.id">
                  <td>{{item.title}} Nori</td>
                  <td>2012/01/01</td>
                  <td>
                    <span class="badge badge-success">Active</span>
                  </td>
                  <td><i class="fa fa-cog fa-lg"></i> Edit</td>
                </tr>
                <tr>
                  <td>Demo Item</td>
                  <td>2012/02/01</td>
                  <td>
                    <span class="badge badge-success">Active</span>
                  </td>
                  <td><i class="fa fa-cog fa-lg"></i> Edit</td>
                </tr>

              </tbody>
            </table>
            <pagination :pagination="pagination" :callback="getList" :options="paginationOptions"></pagination>

          </div>
        </div>
      </div>
      <!--/.col-->


    </div>
    <!--/.row-->

  </div>
</template>

<script>
import pagination from 'vue-bootstrap-pagination'
  const List = {
    props: {},
    ready: function () {
      console.log("ready end");
    },
    data: function () {
      return {
        items: [],
        pagination: {
          total: 100,
          per_page: 5,    // required
          current_page: 1, // required
          last_page: 10,    // required
          from: 1,
          to: 5           // required
        },
        paginationOptions: {
          offset: 4,
          previousText: 'Prev',
          nextText: 'Next',
          alwaysShowPrevNext: true
        },
        submitData: null,
        name: 'Items',
        isLogin: false
      }
    },
    watch: {
      isLogin: function (val, oldVal) {
        if (val === true) {
          this.$router.push('/dashboard')
        }
      }
    },
    components: {pagination},
    computed: {
      reversedMessage() {
        let total = 0
        console.log("asdfg");
        this.user.email = "superuser@gmail.com"
        return total
      },
      detilPage() {
        if (this.$route.path.search(/\/product\//ig) === 0) return true
        return false
      }
    },
    methods: {


     getList: function () {

      var apiurl = 'http://hoppi.liberyen.com/api/list/discounts?page=' + this.pagination.current_page;

        fetch(apiurl).then(
          function (response) {
            // Examine the text in the response
            return response.json()
          }
        ).then(
          function (response) {
            console.log(response);
            this.items = response.data
          this.pagination.current_page = response.current_page;
          this.pagination.last_page = response.last_page;
          this.pagination.total = response.total;
          this.pagination.to = response.to;
          }.bind(this)
          )
          .catch(function (err) {
            console.log('Fetch Error :-S', err);
          });


      },
      getRedirect: function (status) {
        if (status == 'true') {
          //this.$router.go('/')
          this.$router.push('/')
        }

      },

    },
    mounted() {

      //this.getItems()
      this.getRedirect(this);
      //this.getLogin();
    },
    created() {
      this.getList()
      console.log("created basladi");
      // console.log(this.$route.matched);
      // console.log(this.$route);
      console.log("created end");
    },
    filters: {
      json: (value) => { return JSON.stringify(value, null, 2) }
    },

  }
  export default List

</script>
